@import "tailwindcss";

@font-face {
	font-family: 'Helvetica Neue';
	src: url('/fonts/HelveticaNeueLTPro-Roman.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('/fonts/HelveticaNeueLTPro-Md.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

* {
	font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}